/*
Author: Sergii.Rudchyk
*/
.icons-sprite, .radio:before, .radio.has-active:before, .check-box:before, .check-box.has-active:before, .fancybox-close, .fancybox-prev span, .fancybox-next span, #fancybox-buttons a.btnPrev, #fancybox-buttons a.btnNext, #fancybox-buttons a.btnPlay, #fancybox-buttons a.btnPlayOn, #fancybox-buttons a.btnToggle, #fancybox-buttons a.btnToggleOn, #fancybox-buttons a.btnClose, .bx-wrapper .bx-prev, .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next, .bx-wrapper .bx-next:hover, .bx-wrapper .bx-controls-auto .bx-start, .bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-stop, .bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
  background: url('../images/icons-s4a22a17cf9.png') no-repeat;
}

/* ---------->>> XHTML, HTML4, HTML5 Reset <<<-----------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
}

html,
body,
.container-wrap {
  height: 100%;
}

/* Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
1. Correct `inline-block` display not defined in IE 8/9.
2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/*
Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  height: 0;
}

/*
Prevent modern browsers from displaying `audio` without controls.
Address `[hidden]` styling not present in IE 8/9.
Hide the `template` element in IE, Safari, and Firefox < 22.
*/
audio:not([controls]),
[hidden],
template {
  display: none;
}

/*
Addresses `font-family` inconsistency between `textarea` and other form elements.
*/
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* 1. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-size: 100.01%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
}

body {
  color: #181818;
  background: white;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
}

pre,
code,
kbd,
samp,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q,
blockquote {
  quotes: none;
}
q:before, q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

sub,
sup {
  font-size: smaller;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

b,
strong {
  font-weight: bold;
}

em,
i,
dfn {
  font-style: italic;
}

u {
  text-decoration: underline;
}

small {
  font-size: 80%;
}

mark {
  background: #ff0;
  color: #000;
}

/*
Remove the gray background color from active links in IE 10.
*/
a {
  background: transparent;
}
a img {
  border: none;
}

img {
  border: 0;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}
ul li,
ol li {
  margin-left: 0;
}

/*  Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*Correct overflow displayed oddly in IE 9.*/
svg:not(:root) {
  overflow: hidden;
}

/*
1. Correct color not being inherited.
   Known issue: affects color of disabled elements.
2. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
2. Improve usability and consistency of cursor style between image-type `input` and others.
*/
a[href],
input[type="submit"],
html input[type="button"],
input[type="image"],
input[type="reset"],
label[for],
select,
button,
.btn,
.button {
  cursor: pointer;
  /* 2 */
}

/*Address `overflow` set to `hidden` in IE 8/9/10*/
button {
  overflow: visible;
}

/*
Address inconsistent `text-transform` inheritance for `button` and `select`.
All other form control elements do not inherit `text-transform` values.
Correct `button` style inheritance in Firefox, IE 8+, and Opera
Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

a:active, a:hover {
  outline: none;
}

input,
textarea {
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input, input:hover, input:focus,
textarea,
textarea:hover,
textarea:focus,
select,
select:hover,
select:focus,
button,
button:hover,
button:focus {
  outline: none;
}

/*
Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
It's recommended that you don't attempt to style these elements.
Firefox's implementation doesn't respect box-sizing, padding, or width.

1. Address box sizing set to `content-box` in IE 8/9/10.
2. Remove excess padding in IE 8/9/10.
3. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
4. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).

Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
Remove inner padding and search cancel button in Safari and Chrome on OS X.
Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance).
*/
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  -webkit-user-modify: read-write;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 3 */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
Re-set default cursor for disabled elements.
*/
button[disabled],
input[disabled],
textarea,
select {
  cursor: default;
}

/*
Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

acronym,
abbr,
span.caps {
  cursor: help;
}

acronym,
abbr {
  border-bottom: 1px dashed #999;
}

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

input[type="submit"],
html input[type="button"],
input[type="reset"],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

html > body .container-wrap {
  height: auto;
  min-height: 100%;
}

body {
  background-color: #FFF;
  color: #444444;
  font: 1rem/1 Arial, Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: auto;
}

.footer {
  bottom: 0;
  left: 0;
  z-index: 2;
}

a,
.link-fake {
  color: #287fc3;
  text-decoration: underline;
}
a:hover,
.link-fake:hover {
  text-decoration: none;
}
a:active,
.link-fake:active {
  text-decoration: none;
}

.text {
  line-height: normal;
}
.text h1,
.text h2,
.text h3 {
  margin: 30px 0 15px;
}
.text h4,
.text h5,
.text h6,
.text ul,
.text ol,
.text table,
.text hr {
  margin: 10px 0;
}
.text h1 {
  font-size: 36px;
  font-size: 2.25rem;
}
.text h2 {
  font-size: 30px;
  font-size: 1.875rem;
}
.text h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
.text ul {
  list-style: disc;
}
.text ol {
  list-style: decimal;
}
.text li {
  margin-left: 30px;
}
.text p {
  margin-bottom: 15px;
}
.text table,
.text td,
.text th {
  border: 1px solid #ccc;
}
.text td,
.text th {
  padding: 5px;
}
.text hr {
  clear: both;
  border-top: 1px solid #ddd;
}
.text blockquote {
  padding-left: 16px;
  margin: 16px 28px 10px 16px;
  border-left: 2px solid #333;
}
.text img,
.text embed,
.text object,
.text video {
  max-width: 100%;
  height: auto;
}

.aligncenter {
  margin: 0 auto 2px;
}

.alignright {
  margin: 0 0 10px 16px;
}

.alignleft {
  margin: 0 16px 10px 0;
}

.field-box {
  display: inline-block;
  vertical-align: middle;
}

.field-frame, .field {
  width: 310px;
  height: 30px;
}

.field {
  max-width: 100%;
  padding: 0 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background: white;
  color: #444444;
  font: 0.8125rem Arial, Helvetica, sans-serif;
}
.has-value .field {
  border-color: #3eb6e9;
  background: #ecf9ff;
  color: black;
}
.has-active .field, .field:focus {
  border-color: #3eb6e9;
  background: white;
  color: black;
}
.has-error .field {
  border-color: #e74c3c;
  background: white;
  color: #e74c3c;
}
.has-success .field {
  border-color: #2ecc71;
  background: white;
  color: #2ecc71;
}
.has-disabled .field, .field[disabled] {
  border-color: #d5dbdb;
  background: #f4f6f6;
  color: #d5dbdb;
}
.field:-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.field:focus:-moz-placeholder {
  opacity: 0;
}
.field::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.field:focus::-moz-placeholder {
  opacity: 0;
}
.field::-webkit-input-placeholder {
  color: #777777;
  opacity: 1;
}
.field:focus::-webkit-input-placeholder {
  opacity: 0;
}
.field:-ms-input-placeholder {
  color: #777777;
  opacity: 1;
}
.field:focus:-ms-input-placeholder {
  opacity: 0;
}
.field.text-placeholder {
  color: #777777;
  opacity: 1;
}
.field.text-placeholder:focus {
  opacity: 0;
}

.field-fake {
  position: relative;
  line-height: 30px;
}

.field-hidden {
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.field-has-helper {
  padding-right: 30px;
}

select.field {
  padding-right: 0;
}
select.field, select.field:active, select.field:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none;
}

textarea.field {
  min-height: 60px;
}

.select-box .field-hidden {
  opacity: 0;
}

.field-slct {
  padding-right: 30px;
  color: #777777;
}
.field-slct:after {
  content: '';
  right: 10px;
  top: 50%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-top-width: 10px;
  border-top-color: #bdc3c7;
  border-bottom-width: 0;
}
.has-value .field-slct:after {
  border-top-color: #3eb6e9;
}
.has-active .field-slct:after {
  border-bottom-width: 10px;
  border-bottom-color: #3eb6e9;
  border-top-width: 0;
}
.has-error .field-slct:after {
  border-top-color: #e74c3c;
}
.has-error.has-active .field-slct:after {
  border-bottom-color: #e74c3c;
}
.has-success .field-slct:after {
  border-top-color: #2ecc71;
}
.has-success.has-active .field-slct:after {
  border-bottom-color: #2ecc71;
}
.has-disabled .field-slct:after {
  border-top-color: #d5dbdb;
}

.slctdrop {
  top: 100%;
  left: 0;
  z-index: 100;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font: 0.8125rem Arial, Helvetica, sans-serif;
}

.slctdrop-list {
  max-height: 210px;
}

.slctdrop-item {
  padding: 0 10px;
  color: #444444;
  line-height: 30px;
}
.slctdrop-item:hover {
  background-color: #ecf9ff;
}
.slctdrop-item:first-child {
  border-radius: 5px 5px 0 0;
}
.slctdrop-item:last-child {
  border-radius: 0 0 5px 5px;
}

.check-box.has-disabled,
.radio-box.has-disabled {
  opacity: .5;
}

.radio-box {
  line-height: 30px;
}

.radio {
  padding-left: 30px;
  margin: 0 10px;
}
.radio:before {
  background-position: 0 -392px;
  height: 20px;
  width: 20px;
  margin-top: -10px;
}
.radio.has-active:before {
  background-position: 0 -522px;
}

.check-box {
  padding-left: 30px;
  line-height: 30px;
}
.check-box:before {
  background-position: 0 -362px;
  height: 20px;
  width: 20px;
  margin-top: -10px;
}
.check-box.has-active:before {
  background-position: 0 -134px;
}

.fileload-box {
  width: 310px;
}

.fileload-field {
  line-height: 30px;
  width: 73%;
}

.fileload-btn {
  width: 25%;
}

.btn {
  height: 30px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font: 0.8125rem Arial, Helvetica, sans-serif;
}
.btn:hover {
  background-color: #5dade2;
}
.has-disabled .btn, .btn[disabled] {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}

.btn-bl {
  padding-right: 0;
  padding-left: 0;
}

.btn-fake {
  line-height: 30px;
  text-align: center;
}
.btn-fake, .btn-fake:hover {
  text-decoration: none;
}

.padding-footer {
  padding-bottom: 100px;
}

.footer {
  height: 100px;
}

.messageTip {
  z-index: 500;
}
.messageTip:before {
  content: '';
  border-style: solid;
  border-color: transparent;
}
.messageTip.messageTip-right:before, .messageTip.messageTip-left:before {
  top: 50%;
}
.messageTip.messageTip-top:before, .messageTip.messageTip-bottom:before {
  left: 50%;
}
.messageTip.messageTip-right {
  left: 100%;
}
.messageTip.messageTip-right:before {
  right: 100%;
}
.messageTip.messageTip-left {
  right: 100%;
}
.messageTip.messageTip-left:before {
  left: 100%;
}
.messageTip.messageTip-top {
  bottom: 100%;
}
.messageTip.messageTip-top:before {
  top: 100%;
}
.messageTip.messageTip-bottom {
  top: 100%;
}
.messageTip.messageTip-bottom:before {
  bottom: 100%;
}
.messageTip.messageTip-fix:before {
  border: none;
}

.messageTip-error {
  padding: 10px 14px;
  background-color: #ef5b5b;
  box-shadow: 3px 4px 6px rgba(0, 0, 1, 0.22);
  color: #fff;
  line-height: 1;
  white-space: nowrap;
}
.messageTip-error.messageTip-right:before, .messageTip-error.messageTip-left:before {
  margin-top: -5px;
}
.messageTip-error.messageTip-top:before, .messageTip-error.messageTip-bottom:before {
  margin-left: -5px;
}
.messageTip-error.messageTip-right {
  margin-left: 12px;
}
.messageTip-error.messageTip-right:before {
  border-width: 5px 8px 5px 0;
  border-right-color: #ef5b5b;
}
.messageTip-error.messageTip-left {
  margin-right: 12px;
}
.messageTip-error.messageTip-left:before {
  border-width: 5px 0 5px 8px;
  border-left-color: #ef5b5b;
}
.messageTip-error.messageTip-top {
  margin-bottom: 12px;
}
.messageTip-error.messageTip-top:before {
  border-width: 8px 5px 0 5px;
  border-top-color: #ef5b5b;
}
.messageTip-error.messageTip-bottom {
  margin-top: 12px;
}
.messageTip-error.messageTip-bottom:before {
  border-width: 0 5px 8px 5px;
  border-bottom-color: #ef5b5b;
}

.messageTip-tip {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
}
.messageTip-tip.messageTip-right:before, .messageTip-tip.messageTip-left:before {
  margin-top: -5px;
}
.messageTip-tip.messageTip-top:before, .messageTip-tip.messageTip-bottom:before {
  margin-left: -5px;
}
.messageTip-tip.messageTip-right {
  margin-left: 12px;
}
.messageTip-tip.messageTip-right:before {
  border-width: 5px 8px 5px 0;
  border-right-color: black;
}
.messageTip-tip.messageTip-left {
  margin-right: 12px;
}
.messageTip-tip.messageTip-left:before {
  border-width: 5px 0 5px 8px;
  border-left-color: black;
}
.messageTip-tip.messageTip-top {
  margin-bottom: 12px;
}
.messageTip-tip.messageTip-top:before {
  border-width: 8px 5px 0 5px;
  border-top-color: black;
}
.messageTip-tip.messageTip-bottom {
  margin-top: 12px;
}
.messageTip-tip.messageTip-bottom:before {
  border-width: 0 5px 8px 5px;
  border-bottom-color: black;
}

.messageTip-fix {
  cursor: help;
  padding: 5px;
  background-color: blue;
  border-radius: 5px;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
}

.messageTip-box.has-error .messageTip-error {
  display: block;
}
.messageTip-box:hover .messageTip-tip {
  display: block;
}
.messageTip-box:hover .messageTip-fix {
  display: block;
}

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
}
.scroll-wrapper > .scroll-content {
  position: relative !important;
  top: 0;
  left: 0;
  overflow: scroll !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  width: auto !important;
  max-width: none !important;
  height: auto;
  max-height: none !important;
  margin: 0;
  padding: 0;
  border: none !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-standard > .scroll-element,
.scroll-standard > .scroll-element div,
.scroll-simple_outer > .scroll-element,
.scroll-simple_outer > .scroll-element div,
.scroll-simple_inner > .scroll-element,
.scroll-simple_inner > .scroll-element div {
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: none;
}

.scroll-standard > .scroll-element,
.scroll-standard > .scroll-element div,
.scroll-simple_outer > .scroll-element,
.scroll-simple_outer > .scroll-element div {
  overflow: hidden;
}

.scroll-simple_outer > .scroll-element,
.scroll-simple_outer > .scroll-element div,
.scroll-simple_inner > .scroll-element,
.scroll-simple_inner > .scroll-element div {
  background: none;
  display: block;
}
.scroll-simple_outer > .scroll-element div,
.scroll-simple_inner > .scroll-element div {
  top: 0;
  left: 0;
}

.scroll-standard > .scroll-content.scroll-scrolly_show {
  left: -18px;
  margin-left: 18px;
}
.scroll-standard > .scroll-content.scroll-scrollx_show {
  top: -18px;
  margin-top: 18px;
}
.scroll-standard > .scroll-element {
  background-color: #f2f3f3;
}
.scroll-standard > .scroll-element .scroll-element_outer,
.scroll-standard > .scroll-element .scroll-element_size,
.scroll-standard > .scroll-element .scroll-element_inner-wrapper,
.scroll-standard > .scroll-element .scroll-element_inner,
.scroll-standard > .scroll-element .scroll-bar,
.scroll-standard > .scroll-element .scroll-bar div {
  top: 0;
  left: 0;
}
.scroll-standard > .scroll-element .scroll-element_outer,
.scroll-standard > .scroll-element .scroll-element_size,
.scroll-standard > .scroll-element .scroll-element_inner-wrapper,
.scroll-standard > .scroll-element .scroll-bar_body {
  background: none !important;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow, .scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow {
  text-align: center;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow:before, .scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border: 5px solid transparent;
}
.scroll-standard > .scroll-element.scroll-x {
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 18px;
}
.scroll-standard > .scroll-element.scroll-x .scroll-bar {
  top: 50%;
  min-width: 16px;
  height: 6px;
  margin-top: -3px;
  background-color: #76c0df;
  border-radius: 3px;
}
.scroll-standard > .scroll-element.scroll-x .scroll-bar:hover {
  background-color: #9ccbdf;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow {
  width: 18px;
  height: 100%;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow_less:before {
  border-left-width: 0;
  border-right-color: #76c0df;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow_less:hover:before {
  border-right-color: #9ccbdf;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow_more {
  left: auto;
  right: 0;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow_more:before {
  border-right-width: 0;
  border-left-color: #76c0df;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow_more:hover:before {
  border-left-color: #9ccbdf;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-element_outer {
  left: 18px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-element_inner {
  left: -36px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-element_size {
  left: -36px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows.scroll-scrolly_show .scroll-arrow_more {
  right: 18px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows.scroll-scrolly_show .scroll-element_inner {
  left: -54px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows.scroll-scrolly_show .scroll-element_size {
  left: -54px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_size {
  left: -18px;
}
.scroll-standard > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_inner {
  left: -18px;
}
.scroll-standard > .scroll-element.scroll-y {
  top: 0;
  right: 0;
  width: 18px;
  height: 100%;
  min-height: 100%;
}
.scroll-standard > .scroll-element.scroll-y .scroll-bar {
  left: 50%;
  width: 6px;
  min-height: 16px;
  margin-left: -3px;
  background-color: #76c0df;
  border-radius: 3px;
}
.scroll-standard > .scroll-element.scroll-y .scroll-bar:hover {
  background-color: #9ccbdf;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow {
  width: 100%;
  height: 18px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow_less:before {
  border-top-width: 0;
  border-bottom-color: #76c0df;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow_less:hover:before {
  border-bottom-color: #9ccbdf;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow_more {
  top: auto;
  bottom: 0;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow_more:before {
  border-bottom-width: 0;
  border-top-color: #76c0df;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow_more:hover:before {
  border-top-color: #9ccbdf;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-element_outer {
  top: 18px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-element_inner {
  top: -36px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-element_size {
  top: -36px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows.scroll-scrollx_show .scroll-arrow_more {
  bottom: 18px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows.scroll-scrollx_show .scroll-element_inner {
  top: -54px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows.scroll-scrollx_show .scroll-element_size {
  top: -54px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_size {
  top: -18px;
}
.scroll-standard > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_inner {
  top: -18px;
}
.scroll-standard > .scroll-element .scroll-arrow {
  display: none;
}
.scroll-standard > .scroll-element.scroll-element_show-arrows .scroll-arrow {
  z-index: 12;
  display: block;
}

.scroll-simple_outer > .scroll-content.scroll-scrolly_show {
  left: -12px;
  margin-left: 12px;
}
.scroll-simple_outer > .scroll-content.scroll-scrollx_show {
  top: -12px;
  margin-top: 12px;
}
.scroll-simple_outer > .scroll-element {
  background-color: transparent;
}
.scroll-simple_outer > .scroll-element.scroll-x {
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  height: 12px;
}
.scroll-simple_outer > .scroll-element.scroll-x .scroll-bar {
  top: 3px;
  height: 6px;
  background-color: #76c0df;
  border-radius: 3px;
}
.scroll-simple_outer > .scroll-element.scroll-x .scroll-bar:hover {
  background-color: #9ccbdf;
}
.scroll-simple_outer > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_size {
  left: -12px;
}
.scroll-simple_outer > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_inner {
  left: -12px;
}
.scroll-simple_outer > .scroll-element.scroll-y {
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  min-height: 100%;
}
.scroll-simple_outer > .scroll-element.scroll-y .scroll-bar {
  left: 3px;
  width: 6px;
  background-color: #76c0df;
  border-radius: 3px;
}
.scroll-simple_outer > .scroll-element.scroll-y .scroll-bar:hover {
  background-color: #9ccbdf;
}
.scroll-simple_outer > .scroll-element.scroll-y .scroll-element_outer {
  top: 6px;
}
.scroll-simple_outer > .scroll-element.scroll-y .scroll-element_inner {
  top: -12px;
}
.scroll-simple_outer > .scroll-element.scroll-y .scroll-element_size {
  top: -12px;
}
.scroll-simple_outer > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_size {
  top: -12px;
}
.scroll-simple_outer > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_inner {
  top: -12px;
}
.scroll-simple_outer > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #9ccbdf;
}

.scroll-simple_inner > .scroll-element div {
  display: block;
}
.scroll-simple_inner > .scroll-element .scroll-element_inner {
  display: none;
}
.scroll-simple_inner > .scroll-element .scroll-bar {
  display: none;
  background-color: #76c0df;
  border-radius: 3px;
}
.scroll-simple_inner > .scroll-element .scroll-bar:hover {
  background-color: #9ccbdf;
}
.scroll-simple_inner > .scroll-element.scroll-draggable .scroll-bar {
  display: block;
}
.scroll-simple_inner > .scroll-element.scroll-x {
  left: 0;
  bottom: 0px;
  overflow: visible;
  min-width: 100%;
  width: 100%;
  height: 0px;
}
.scroll-simple_inner > .scroll-element.scroll-x .scroll-element_size {
  left: -8px;
}
.scroll-simple_inner > .scroll-element.scroll-x.scroll-scrolly_show .scroll-element_size {
  left: -22px;
}
.scroll-simple_inner > .scroll-element.scroll-x .scroll-element_outer {
  left: 4px;
}
.scroll-simple_inner > .scroll-element.scroll-x .scroll-bar {
  top: -12px;
  height: 6px;
}
.scroll-simple_inner > .scroll-element.scroll-y {
  top: 0;
  right: 0px;
  width: 0px;
  height: 100%;
  min-height: 100%;
}
.scroll-simple_inner > .scroll-element.scroll-y .scroll-element_outer {
  top: 4px;
}
.scroll-simple_inner > .scroll-element.scroll-y .scroll-element_size {
  top: -8px;
}
.scroll-simple_inner > .scroll-element.scroll-y.scroll-scrollx_show .scroll-element_size {
  top: -22px;
}
.scroll-simple_inner > .scroll-element.scroll-y .scroll-bar {
  left: -12px;
  width: 6px;
}
.scroll-simple_inner:hover > .scroll-element .scroll-bar {
  display: block;
}

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  background: #f9f9f9;
  border-radius: 4px;
  color: #444444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  padding: 15px;
  margin: 0;
  color: #444444;
  font: 1rem/normal Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  top: 50%;
  left: 50%;
  z-index: 8060;
  opacity: .8;
  width: 44px;
  height: 44px;
  margin: -22px 0 -22px;
  border-radius: 5px;
}

.fancybox-close {
  top: -18px;
  right: -18px;
  z-index: 8040;
  background-position: 0 -88px;
  height: 36px;
  width: 36px;
}

.fancybox-nav {
  top: 0;
  z-index: 8040;
  width: 40%;
  height: 100%;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-nav span {
  top: 50%;
  z-index: 8040;
  visibility: hidden;
  width: 36px;
  height: 34px;
  margin-top: -18px;
}

.fancybox-prev {
  left: 0;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -44px;
}

.fancybox-next {
  right: 0;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 0;
}

.fancybox-tmp {
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  top: 0;
  left: 0;
  z-index: 8010;
  overflow: hidden;
  display: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
}

.fancybox-overlay-fixed {
  right: 0;
  bottom: 0;
}

/* Title helper */
.fancybox-title {
  z-index: 8050;
  visibility: hidden;
  font: 1rem/normal Arial, Helvetica, sans-serif;
  text-shadow: none;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  right: 50%;
  bottom: 0;
  z-index: 8050;
  margin-bottom: -35px;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  padding: 2px 20px;
  margin-right: -100%;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 2px #222;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

#fancybox-buttons {
  left: 0;
  z-index: 8050;
}
#fancybox-buttons.top {
  top: 10px;
}
#fancybox-buttons.bottom {
  bottom: 10px;
}
#fancybox-buttons ul {
  width: 166px;
  height: 30px;
  margin: auto;
  padding: 0;
  border: 1px solid #111;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  background: #323232;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzQzNDM0Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyOTI5MjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(50%, #343434), color-stop(50%, #292929), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: -moz-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: -o-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
}
#fancybox-buttons ul li {
  padding: 0;
  margin: 0;
}
#fancybox-buttons a {
  opacity: .8;
  width: 30px;
  height: 30px;
  background-color: transparent;
  text-indent: -9999px;
}
#fancybox-buttons a:hover {
  opacity: 1;
}
#fancybox-buttons a.btnPrev {
  background-position: 0 -622px;
}
#fancybox-buttons a.btnNext {
  background-position: 0 -662px;
  border-right: 1px solid #3e3e3e;
}
#fancybox-buttons a.btnPlay {
  background-position: 0 -742px;
}
#fancybox-buttons a.btnPlayOn {
  background-position: 0 -782px;
}
#fancybox-buttons a.btnToggle {
  background-position: 0 -582px;
  border: 1px solid transparent;
  border-left-color: #111;
  border-right-color: #3e3e3e;
  width: fancybox-sprite-width(fancyBtnToggle);
}
#fancybox-buttons a.btnToggleOn {
  background-position: 0 -702px;
}
#fancybox-buttons a.btnClose {
  width: fancybox-sprite-width(fancyBtnClose);
  background-position: 0 -482px;
  border-left: 1px solid #111;
}
#fancybox-buttons a.btnDisabled {
  opacity: .4;
}

#fancybox-thumbs {
  left: 0;
  z-index: 8050;
  overflow: hidden;
}
#fancybox-thumbs.bottom {
  bottom: 2px;
}
#fancybox-thumbs.top {
  top: 2px;
}
#fancybox-thumbs ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
#fancybox-thumbs ul li {
  opacity: .5;
  padding: 1px;
}
#fancybox-thumbs ul li.active {
  opacity: .75;
  padding: 0;
  border: 1px solid #fff;
}
#fancybox-thumbs ul li.active:hover {
  opacity: 1;
}
#fancybox-thumbs ul li a {
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
}
#fancybox-thumbs ul li img {
  max-width: none;
  padding: 0;
  border: 0;
}

.bx-wrapper {
  margin: 0 auto 60px;
  padding: 0;
  /* LOADER */
}
.bx-wrapper .bx-viewport {
  left: -5px;
  background: #fff;
  border: solid #fff 5px;
  box-shadow: 0 0 5px #ccc;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: -30px;
}
.bx-wrapper .bx-loading {
  top: 0;
  left: 0;
  z-index: 2000;
  min-height: 50px;
}
.bx-wrapper .bx-pager {
  padding-top: 20px;
  color: #666;
  font: bold 0.875rem Arial, Helvetica, sans-serif;
  text-align: center;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background: #666;
  text-indent: -9999px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}
.bx-wrapper .bx-prev {
  left: 10px;
  background-position: 0 -164px;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0 -320px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background-position: 0 -236px;
}
.bx-wrapper .bx-next:hover {
  background-position: 0 -278px;
}
.bx-wrapper .bx-controls-direction a {
  top: 50%;
  z-index: 9999;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  text-indent: -9999px;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start,
.bx-wrapper .bx-controls-auto .bx-stop {
  margin: 0 3px;
  text-indent: -9999px;
}
.bx-wrapper .bx-controls-auto .bx-start {
  width: 10px;
  height: 11px;
  background-position: 0 -822px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: 0 -843px;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  width: 9px;
  height: 11px;
  background-position: 0 -864px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: 0 -885px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager {
  width: 80%;
  text-align: left;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  width: 80%;
  text-align: left;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.bx-wrapper .bx-caption {
  bottom: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.75);
}
.bx-wrapper .bx-caption span {
  padding: 10px;
  color: #fff;
  font: 0.875rem Arial, Helvetica, sans-serif;
}

.relative, .container-wrap, .fileload-box, .messageTip-box, .scroll-wrapper, .scroll-standard > .scroll-element.scroll-x.scroll-element_show-arrows .scroll-arrow:before, .scroll-standard > .scroll-element.scroll-y.scroll-element_show-arrows .scroll-arrow:before, .fancybox-skin, .fancybox-outer,
.fancybox-inner, .fancybox-title, .fancybox-title-outside-wrap, #fancybox-thumbs ul, #fancybox-thumbs ul li a, #fancybox-thumbs ul li img, .bx-wrapper, .brif-tabs .tab:hover .tab-span, .brif-tabs .tab.tab-current .tab-span,
.has-ps-icon,
.has-icon,
.field-box {
  position: relative;
}

.absolute, .footer, .field-slct:after, .slctdrop, .messageTip, .messageTip:before, .fancybox-wrap, .fancybox-close, .fancybox-nav, .fancybox-nav span, .fancybox-tmp, .fancybox-overlay, .fancybox-title-float-wrap, .fancybox-title-over-wrap, .bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-loading, .bx-wrapper .bx-controls-direction a, .bx-wrapper .bx-caption, .aborted, .ceiling-pos, .abs-icon, .field-helper, .has-ps-icon:before {
  position: absolute;
}

.fixed, .messageTip.messageTip-fix, #fancybox-loading, .fancybox-overlay-fixed, #fancybox-buttons, #fancybox-thumbs {
  position: fixed;
}

.box, .example-tabs .tab-example-content,
.wrapper,
.field,
.btn,
.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dib,
.icon,
.btn,
.field,
.wrapper,
.el {
  display: inline-block;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.block, .aligncenter, .slctdrop-item, .btn-bl, .fancybox-image,
.fancybox-iframe, #fancybox-buttons ul, #fancybox-buttons a, #fancybox-thumbs ul li a, #fancybox-thumbs ul li img, .bx-wrapper .bx-pager.bx-default-pager a, .bx-wrapper .bx-controls-auto .bx-start,
.bx-wrapper .bx-controls-auto .bx-stop, .bx-wrapper .bx-caption span, .img-rwd, .bx-wrapper img, .brif-tabs .tabs, .brif-tabs .tab-span,
.show,
.tab-content.tab-content-visible,
.example-tabs .tab-example-content.tab-content-visible {
  display: block;
}

.none, .messageTip, .tab-content, .example-tabs .tab-example-content,
.hide,
.slctdrop {
  display: none;
}

.dib {
  vertical-align: top;
}

.icon,
.btn,
.field,
.el {
  vertical-align: middle;
}

.left, .alignleft, #fancybox-buttons ul li, #fancybox-thumbs ul li, .brif-tabs .tab {
  float: left;
}

.right, .alignright {
  float: right;
}

.full, .slctdrop, .btn-bl, #fancybox-buttons, #fancybox-thumbs, .bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-caption, .full-size, .field-hidden, .scroll-simple_outer > .scroll-element div,
.scroll-simple_inner > .scroll-element div, .scroll-standard > .scroll-element .scroll-element_outer,
.scroll-standard > .scroll-element .scroll-element_size,
.scroll-standard > .scroll-element .scroll-element_inner-wrapper,
.scroll-standard > .scroll-element .scroll-element_inner,
.scroll-standard > .scroll-element .scroll-bar,
.scroll-standard > .scroll-element .scroll-bar div, .fancybox-image,
.fancybox-iframe, .bx-wrapper .bx-loading,
.table,
.wrapper,
.footer {
  width: 100%;
}

.full-size, .field-hidden, .scroll-simple_outer > .scroll-element div,
.scroll-simple_inner > .scroll-element div, .scroll-standard > .scroll-element .scroll-element_outer,
.scroll-standard > .scroll-element .scroll-element_size,
.scroll-standard > .scroll-element .scroll-element_inner-wrapper,
.scroll-standard > .scroll-element .scroll-element_inner,
.scroll-standard > .scroll-element .scroll-bar,
.scroll-standard > .scroll-element .scroll-bar div, .fancybox-image,
.fancybox-iframe, .bx-wrapper .bx-loading {
  height: 100%;
}

.light-animation,
.btn,
.field {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.tac, .btn-bl {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.jbox {
  line-height: 0;
  text-align: justify;
}
.jbox:after {
  content: "\0020";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
  width: 100%;
}
.jbox .dib {
  line-height: normal;
}

.clear {
  clear: both;
}

.clearfix:after, .brif-tabs .tabs:after {
  content: "";
  display: table;
  clear: both;
}

.no-select, .has-disabled .field, .field[disabled], .check-box.has-disabled,
.radio-box.has-disabled, .radio-box, .check-box, .fileload-box, .has-disabled .btn, .btn[disabled] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ellipsis, .field-fake {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.break {
  word-wrap: break-word;
}

.loading, #fancybox-loading, .bx-wrapper .bx-loading {
  background: white url(../images/required/loading.gif) no-repeat center;
}

.img-rwd, .bx-wrapper img {
  max-width: 100%;
  height: auto;
}

.cur-pointer, .field-slct, .slctdrop-item, .radio, .check-box, .tab, .scroll-element .scroll-bar,
.scroll-element .scroll-arrow, #fancybox-loading, .fancybox-close, .fancybox-nav, .fancybox-nav span, .example-tabs .tab-example,
.link {
  cursor: pointer;
}

.cur-default, .has-disabled .field, .field[disabled], .radio-box.has-disabled .radio, .check-box.has-disabled, .has-disabled .btn, .btn[disabled], #fancybox-buttons a.btnDisabled {
  cursor: default;
}

.cur-help {
  cursor: help;
}

.aborted {
  left: -10000px;
  opacity: 0;
  visibility: hidden;
}

.ceiling-pos {
  top: 0;
  left: 0;
}

.abs-icon, .field-helper {
  z-index: 1;
}

.left-icon, .has-ps-left-icon:before {
  top: 50%;
  left: 0;
}

.right-icon, .field-helper, .has-ps-right-icon:before {
  top: 50%;
  right: 0;
}

.top-icon, .has-ps-top-icon:before {
  top: 0;
  left: 50%;
}

.bottom-icon, .has-ps-bottom-icon:before {
  left: 50%;
  bottom: 0;
}

.center-icon, .has-ps-center-icon:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.has-ps-icon:before {
  content: '';
}

.circle {
  border-radius: 50%;
}

.default-scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.ie8 .field {
  line-height: 30px;
}

body {
  background-color: #fafafa;
  font: 1rem Arial, Helvetica, sans-serif;
  color: #34495e;
}

.brief-container {
  width: 960px;
  margin: auto;
  padding: 50px;
}

.brief-title {
  padding: 15px;
}

.syntaxhighlighter {
  padding: 10px 0;
}

.brif-tabs .tabs {
  padding: 4px 0 0 1px;
  border-bottom: solid 1px #ddd;
}
.brif-tabs .tab {
  height: 40px;
}
.brif-tabs .tab:hover .tab-span, .brif-tabs .tab.tab-current .tab-span {
  top: -4px;
  height: 40px;
  padding-top: 4px;
  border-bottom: 1px solid #fff;
  border-radius: 4px 4px 0 0;
  background: #fff;
  color: #111;
}
.brif-tabs .tab-span {
  height: 39px;
  padding: 0px 20px;
  margin: 0 0 0 -1px;
  border: solid 1px #ddd;
  border-width: 1px 1px 0 1px;
  background: #f5f5f5;
  color: #333;
  font-size: 16px;
  line-height: 40px;
}
.brif-tabs .tab-content {
  clear: both;
  padding: 15px;
  margin-bottom: 24px;
  border: solid 1px #ddd;
  border-top: none;
  background-color: #fff;
}

.example-modal {
  width: 500px;
}

.fancy-prew-link {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 73px;
}

.fancy-prew-img {
  width: 100%;
}

.fancy-title {
  margin: 15px 0;
}

.fancyBtnbox {
  background-color: #1B2426;
}

.global-title {
  margin: 15px 0;
  font-size: 44px;
  font-size: 2.75rem;
  text-align: center;
}

.global-bl {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #FFF;
}

.brief-box {
  margin-bottom: 40px;
}

.brief-class-title,
.brief-small-title,
.brief-smaller-title {
  padding: 5px;
}

.brief-small-title {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.brief-smaller-title {
  font-size: 1rem;
  font-style: italic;
}

.brief-class-title {
  color: #5eab4a;
  font-style: italic;
}

.brief-codebox-cell,
.brief-previewbox-cell {
  width: 50%;
  vertical-align: middle;
}

.brief-codebox {
  width: 480px;
}

.brief-previewbox-cell {
  padding: 0 50px;
}

.brief-string {
  padding: 5px 0;
}

.bl {
  background-color: #FFF;
}

.example-tabs {
  border: 1px solid #ccc;
}
.example-tabs .tabs-example {
  border-bottom: 1px solid #ccc;
}
.example-tabs .tab-example {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.example-tabs .tab-example:hover, .example-tabs .tab-example.tab-current {
  color: #000;
}
.example-tabs .tab-example-content {
  width: 100%;
  height: 100px;
  padding: 15px;
}

.some_parent_class {
  overflow: hidden;
  width: 896px;
  height: 200px;
  border: 1px solid #ccc;
}

.scroll-panel-content {
  width: 1200px;
  padding: 10px;
}

.tab-scroll {
  height: 100%;
}
