@charset "utf-8";
/*
Author: Sergii.Rudchyk
*/

@import "source/reset.scss";
@import "no_valid.scss";
@import "source/main.scss";
@import "source/formstyle.scss";
@import "source/icons.scss";
@import "source/styles.scss";
@import "source/browsers.scss";
// @import "source/layout.scss";