// Buttons
// Height
$btnDefaultHeight: $fieldDefaultHeight;
// Typography
$btnDefaultColor: #fff;
$btnDefaultFontFamily: $baseFontFamily;
$btnDefaultFontSize: rem-font-size(13px);
// Action
$btnHasDisabledColor: #bdc3c7;

// **Default

.btn{
    height: $btnDefaultHeight;
    padding: 0 10px;

    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #3498db;

    color: $btnDefaultColor;
    font: $btnDefaultFontSize $btnDefaultFontFamily;

    &:hover{
        background-color: #5dade2;
    }

    .has-disabled &,
    &[disabled]{
        @extend .cur-default;
        @extend .no_select;
        background-color: $btnHasDisabledColor;
        border-color: $btnHasDisabledColor;
    }
}

.btn-bl{
    @extend .block;

    @extend .full;
    padding-right: 0;
    padding-left: 0;

    @extend .tac;
}

.btn-fake{
    line-height: $btnDefaultHeight;
    text-align: center;
    &,
    &:hover{
        text-decoration: none;
    }
}