// Default

.relative,
.has-ps-icon,
.has-icon,
.field-box{
    position: relative;
}

.absolute{
    position: absolute;
}

// Box-sizing
.box,
.wrapper,
.field,
.btn,
.footer{
    @include box-sizing(border-box);
}

// Display

.dib,
.icon,
.btn,
.field,
.wrapper,
.el{
    display: inline-block;
}

.table{
    display: table;
}

.row{
    display: table-row;
}

.cell{
    display: table-cell;
}

.block,
.show{
    display: block;
}

.none,
.hide{
    display: none;
}

// Vertical-align
.dib{
    vertical-align: top;
}

.icon,
.btn,
.field,
.el{
    vertical-align: middle;
}

// Float
.left{
    float: left;
}

.right{
    float: right;
}

// Width
.full,
.table,
.wrapper,
.footer{
    width: 100%;
}

.full-size{
    @extend .full;
    height: 100%;
}

// Animation
.light-animation,
.btn,
.field{
    @include transition(all .25s ease);
}

// Text-align
.tac{
    text-align: center;
}

.tal{
    text-align: left;
}

.tar{
    text-align: right;
}

// Alignment Blocks In Width
.jbox{
    line-height: 0;
    text-align: justify;
    @include legacy-pie-clearfix;

    .dib{
        line-height: normal;
    }
}

// Other
.clear{
    clear: both;
}

.clearfix{
    @include pie-clearfix;
}

.no-select{
    @include user-select(none);
}

// --Typography--
.ellipsis{
    @include ellipsis(no-wrap);
}

.break{
    word-wrap: break-word;
}

// --Images--

.loading{
    background: #fff url(../images/required/loading.gif) no-repeat center;
}

.img-rwd{
    @extend .block;
    max-width: 100%;
    height: auto;
}

// --Form--

.cur-pointer,
.link{
    cursor: pointer;
}
.cur-default{
    cursor: default;
}
.cur-help{
    cursor: help;
}

// --Position--

.aborted{
    @include pos(absolute, false, false, false, -10000px, false);

    opacity: 0;
    visibility: hidden;
}
.ceiling-pos{
    @include pos(absolute, 0, false, false, 0, false);
}
.abs-icon{
    @include pos(absolute, false, false, false, false, 1);
}
.left-icon{
    top: 50%;
    left: 0;
}
.right-icon{
    top: 50%;
    right: 0;
}
.top-icon{
    top: 0;
    left: 50%;
}
.bottom-icon{
    left: 50%;
    bottom: 0;
}
.center-icon{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.has-ps-icon{
    &:before{
        @extend .absolute;

        content: '';
    }
}
.has-ps-left-icon{
    &:before{
        @extend .left-icon;
    }
}
.has-ps-right-icon{
    &:before{
        @extend .right-icon;
    }
}
.has-ps-top-icon{
    &:before{
        @extend .top-icon;
    }
}
.has-ps-bottom-icon{
    &:before{
        @extend .bottom-icon;
    }
}
.has-ps-center-icon{
    &:before{
        @extend .center-icon;
    }
}

// --Styles--

.circle{
    border-radius: 50%;
}

.default-scroll{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

