// Default

// Box-sizing
.box,
.wrapper,
.field,
.btn,
.footer,
.input_box{
    @include box-sizing(border-box);
}

// Display

.dib,
.icon,
.btn,
.field,
.wrapper,
.el{
    display: inline-block;
}

.table{
    display: table;
}

.row{
    display: table-row;
}

.cell{
    display: table-cell;
}

.block,
.show{
    display: block;
}

.none,
.hide{
    display: none;
}

// Vertical-align
.dib{
    vertical-align: top;
}

.icon,
.btn,
.field,
.el{
    vertical-align: middle;
}

// Float
.left{
    float: left;
}

.right{
    float: right;
}

// Width
.full,
.tablebox,
.wrapper,
.footer{
    width: 100%;
}

// Animation
.light-animation,
.btn,
.field{
    @include transition(all .25s ease);
}

// Text-align
.tac{
    text-align: center;
}

.tal{
    text-align: left;
}

.tar{
    text-align: right;
}

// Alignment Blocks In Width
.jbox{
    line-height: 0;
    text-align: justify;
    @include legacy-pie-clearfix;

    .dib{
        line-height: normal;
    }
}

// Other
.clear{
    clear: both;
}

.clearfix{
    @include pie-clearfix;
}

.no_select{
    @include user-select(none);
}

// --Typography--
.ellipsis{
    @include ellipsis(no-wrap);
}

.break{
    word-wrap: break-word;
}

// --Images--

.loading{
    background: #fff url(../images/required/loading.gif) no-repeat center;
}

.img-rwd{
    display: block;
    max-width: 100%;
    height: auto;
}

// --Buttons--

.btn-bl{
    display: block;

    width: 100%;
    padding-right: 0;
    padding-left: 0;

    text-align: center;
}

// --Form--

.cur-pointer{
    cursor: pointer;
}
.cur-default{
    cursor: default;
}

.hidden-field{
    width: 100%;
    height: 100%;

    background: transparent;

    @include box-sizing(border-box);
    @include reset-box-model;
    @include reset-font;
}

.aborted{
    position: absolute;
    left: -10000px;

    opacity: 0;
    visibility: hidden;
}

.ceiling-pos{
    position: absolute;
    top: 0;
    left: 0;
}

.relative,
.has-ps-icon,
.has-icon,
.field-box{
    position: relative;
}

.abs-icon{
    position: absolute;
    z-index: 1;
}
.left-icon{
    top: 50%;
    left: 0;
}
.right-icon{
    top: 50%;
    right: 0;
}
.top-icon{
    top: 0;
    left: 50%;
}
.bottom-icon{
    left: 50%;
    bottom: 0;
}
.center-icon{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.has-ps-icon{
    &:before{
        position: absolute;

        content: '';
    }
}
.has-ps-left-icon{
    &:before{
        top: 50%;
        left: 0;
    }
}
.has-ps-right-icon{
    &:before{
        top: 50%;
        right: 0;
    }
}
.has-ps-top-icon{
    &:before{
        top: 0;
        left: 50%;
    }
}
.has-ps-bottom-icon{
    &:before{
        left: 50%;
        bottom: 0;
    }
}
.has-ps-center-icon{
    &:before{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}