// Form style

// --fields--
// Size
$fieldDefaultWidth: 100%;
$fieldDefaultHeight: 30px;
$fieldDefaultPaddingSide: 10px;
$fieldDefaultBorder: 1px solid #bdc3c7;
$fieldDefaultBorderRadius: 5px;
$fieldDefaultBg: #fff;

// Style
// Typography
$fieldDefaultColor: #444;
$fieldDefaultPlaceholderColor: #777;
$fieldDefaultFontFamily: $baseFontFamily;
$fieldDefaultFontSize: rem-font-size(13px);
// Action
// Value
$fieldHasValueBg: #ecf9ff;
$fieldHasValueBorder: #3eb6e9;
$fieldHasValueColor: #000;
// Active
$fieldHasActiveBg: #fff;
$fieldHasActiveBorder: $fieldHasValueBorder;
$fieldHasActiveColor: $fieldHasValueColor;
// Error
$fieldHasErrorColor: #e74c3c;
// Success
$fieldHasSuccessColor: #2ecc71;
// Disabled
$fieldHasDisabledBg: #f4f6f6;
$fieldHasDisabledColor: #d5dbdb;

// field style

.field-box{}

.field-frame{
    width: $fieldDefaultWidth;
    height: $fieldDefaultHeight;
}

.field{
    @extend .field-frame;
    max-width: 100%;
    padding: 0 $fieldDefaultPaddingSide;

    border: $fieldDefaultBorder;
    border-radius: $fieldDefaultBorderRadius;
    background: $fieldDefaultBg;

    color: $fieldDefaultColor;
    font: $fieldDefaultFontSize $fieldDefaultFontFamily;

    // Action
    .field-box.has-value &{
        // border, background, color
        @include fieldEvent($fieldHasValueBorder, $fieldHasValueBg, $fieldHasValueColor);
    }
    .field-box.has-active &,
    &:focus{
        // border, background, color
        @include fieldEvent($fieldHasActiveBorder, $fieldHasActiveBg, $fieldHasActiveColor);
    }
    .field-box.has-error &{
        // border, background, color
        @include fieldEvent($fieldHasErrorColor, $fieldDefaultBg, $fieldHasErrorColor);
    }
    .field-box.has-success &{
        // border, background, color
        @include fieldEvent($fieldHasSuccessColor, $fieldDefaultBg, $fieldHasSuccessColor);
    }
    .field-box.has-disabled &,
    &[disabled]{
        @extend .cur-default;
        @extend .no_select;
        @include fieldEvent($fieldHasDisabledColor, $fieldHasDisabledBg, $fieldHasDisabledColor);
    }

    // Placeholder
    @each $prefixPlaceholder in $prefixPlaceholders {
        @include placeholder($prefixPlaceholder, $fieldDefaultPlaceholderColor);
    }
}

select.field{
    padding-right: 0;
    &,
    &:active,
    &:focus {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-focus-ring-color: rgba(0, 0, 0, 0);
        outline: none;
    }
}

textarea.field{
    min-height: 60px;
}

.fake-field{
    position: relative;

    @extend .ellipsis;

    line-height: $fieldDefaultHeight;
}