/* ---------->>> FORMS <<<-----------*/

/*field style*/
.field{
    @include box-sizing(border-box);
    width: 210px;
    max-width: 100%;
    height: $fieldHeight;
    border: 1px solid #ccc;
    padding: 0 4px;

    background-color: #fff;
    border-radius: 3px;

    color: #444;
    font: 13px $baseFontFamily;

    // &:focus{}
    // &.error{}
    // &.valid{}

    @each $prefixPlaceholder in $prefixPlaceholders {
        @include placeholder($prefixPlaceholder, $fieldPlaceholderColor);
    }
}
// select.field{
//     padding-right: 0;
//     &,
//     &:active,
//     &:focus {
//         -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//         -webkit-focus-ring-color: rgba(0, 0, 0, 0);
//         outline: none;
//     }
// }
// textarea.field{
//     min-height: 60px;
// }

/*end field style*/

/*buttons style*/

.btn{
    height: $fieldHeight;
    padding: 0 4px;
    border: 1px solid #aaa;

    border-radius: 3px;
    background-color: #0044cc;
    @include background-image(linear-gradient(top, #0088cc, #0044cc));

    color: #fff;
    font: 13px $baseFontFamily;

    &:hover{
        @include background-image(linear-gradient(bottom, #0088cc, #0044cc));
    }
}
a.btn,
span.btn{
    @include dib;

    line-height: $fieldHeight;
    text-align: center;
    &,
    &:hover{
        text-decoration: none;
    }
}
/*end buttons style*/