// Global

html {
    // min-width: $standard;
    >body{
        .container-wrap{
            height: auto;
            min-height: 100%;
        }
    }
}

body{
    background-color: #FFF;

    color: $baseFontColor;
    font: $baseFontSize+unquote('/')+1 $baseFontFamily;
}

.container{
    @include centerBlock($standard);
}

.grid{
    @include grids; // vaues: $numberOfColumns: 12, $gutterWidth: 20, $fullWidth: 960;
}

.container-wrap{
    @extend .relative;

    // overflow-x: hidden;
}

.footer{
    @include pos(absolute, false, false, 0, 0, 2);
}


