// Modals

$popupperBody: 20px;
$popupperBg: #fff;

// **Default

.popup-link{
    @extend .cur-pointer;
}

.popup-overlay{
    @include pos(fixed, 0, false, false, 0, 999);

    @extend .full-size;

    @include rgbaBox(0, 0, 0, .5, #000);

    -webkit-transform: translateZ(0);
}
.popupper{
    @include pos(fixed, false, false, false, false, 1000);

    @extend .none;

    background: $popupperBg;
    border-radius: 10px;
    box-shadow:  0 0 3px rgba(0,0,0,.2);
}

.popupper-close{
    @include pos(absolute, 5px, 5px, false, false, 100);

    @extend .cur-pointer;

    &:hover{
        opacity: .5;
    }
}
.popupper-body{
    padding: $popupperBody;
}
.popupper-pos{
    @include pos(absolute);
}

// **Style

// .popupper-{}
.popupper-size{
    width: 500px;
}