// Typography
$alignImgSide: 16px;
$alignImgBottom: 10px;

a,
.link-fake{
    color: $baseLinkColor;
    text-decoration: underline;
    // &:visited{
    //     color: $baseLinkColor;
    //     text-decoration: underline;
    // }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}

.text{
    line-height: normal;
    h1,
    h2,
    h3{
        margin: 30px 0 15px;
    }
    h4,
    h5,
    h6,
    ul,
    ol,
    table,
    hr{
        margin: 10px 0;
    }
    h1{
        @include rem-font-size(36px);
    }
    h2{
        @include rem-font-size(30px);
    }
    h3{
        @include rem-font-size(24px);
    }
    ul{
        list-style: disc;
        li{}
    }
    ol{
        list-style: decimal;
        li{}
    }
    li{
        margin-left: 30px;
    }
    p{
        margin-bottom: 15px;
    }
    table,
    td,
    th{
        border: 1px solid #ccc;
    }
    td,
    th{
        padding: 5px;
    }
    hr{
        clear: both;

        border-top: 1px solid #ddd;
    }
    blockquote{
        padding-left: 16px;
        margin: 16px 28px 10px 16px;

        border-left: 2px solid #333;
    }
    img,
    embed,
    object,
    video{
        max-width: 100%;
        height: auto;
    }
}

// Images

.aligncenter{
    @extend .block;

    margin: 0 auto 2px;
}
.alignright{
    @extend .right;

    margin: 0 0 $alignImgBottom $alignImgSide;
}
.alignleft{
    @extend .left;

    margin: 0 $alignImgSide $alignImgBottom 0;
}