// **Global

// To enable SVG gradient support in Opera and IE9
$experimental-support-for-svg: true;
// Determines if you want to include magic selectors in your sprites
$disable-magic-sprite-selectors:true;

// Resolution
$FHD: 1920px;
$WXGA-plus: 1680px;
$HD: 1366px;
$WXGA: 1280px;
$XGA-landscape: 1024px;
$XGA-portrait: 768px;
$VGA: 640px;
$HVGA: 480px;
$QVGA: 320px;
// Vendor Extension Prefixes Placeholders
$prefixPlaceholders: ":-moz-placeholder", "::-moz-placeholder", "::-webkit-input-placeholder", ":-ms-input-placeholder", ".text-placeholder";

// **Fonts



// **Sprite

// $icons-spacing: 10px;
// @import "icons/*.png";

// --icons sprite--
// $icons: name;
// $blockIcons: name;
// $befores: name;
// $afters: name;
// $buttons: name;

// **Brief

$baseFontFamily: Arial, Helvetica, sans-serif;
$baseFontSize: rem-font-size($base-font-size);
$baseFontColor: #444;
$baseLinkColor: #287fc3;

$size: 960px;
$grid: $size;

$Max: $size;
$standard: $size;
$Min: $QVGA;

// --footer--
$footerHeight: 100px;

// **Formstyle

// --fields--
// Size
$fieldDefaultWidth: 210px;
$fieldDefaultHeight: 30px;
// Style
$fieldDefaultBorderSize: 1px;
$fieldDefaultBorderColor: #bdc3c7;
$fieldDefaultBackground: #fff;
// Typography
$fieldDefaultColor: #444;
$fieldDefaultPlaceholderColor: #777;
$fieldDefaultFontFamily: $baseFontFamily;
$fieldDefaultFontSize: rem-font-size(13px);
// Action
$fieldHasErrorColor: #e74c3c;
$fieldHasSuccessColor: #2ecc71;
$fieldHasDisabledColor: #d5dbdb;
$fieldHasDisabledBg: #f4f6f6;

// --buttons--
// Height
$btnDefaultHeight: $fieldDefaultHeight;
// Style
$btnDefaultBorderSize: 1px;
// Typography
$btnDefaultColor: #fff;
$btnDefaultFontFamily: $baseFontFamily;
$btnDefaultFontSize: rem-font-size(13px);
// Action
$btnHasDisabledColor: #bdc3c7;

// --typography--
$alignImgSide: 16px;
$alignImgBottom: 10px;