@import "var";

// /* ---------->>> ALL IE <<<-----------*/

.ie{
    // clear the password reveal button and the clear button in IE10
    // .hidden_input{
    //     &::-ms-clear,
    //     &::-ms-reveal{
    //         display: none;
    //     }
    // }
}

// /* ---------->>> IE11 <<<-----------*/

.ie11{}

// /* ---------->>> IE10 <<<-----------*/

.ie10{}

// /* ---------->>> IE9 <<<-----------*/

.ie9{}

/* ---------->>> IE8 <<<-----------*/

.ie8{
    .field{
        line-height: $fieldHeight;
        @include placeholder(".text-placeholder", $fieldPlaceholderColor, true);
    }
}

// /* ---------->>> Firefox <<<-----------*/

.ff{}

/* ---------->>> Opera <<<-----------*/

.opera{
    .field{
        @include placeholder("[data-operaplaceholder]", $fieldPlaceholderColor, true);
    }
}

// /* ---------->>> Safari <<<-----------*/

.safari{}

// /* ---------->>> Chrome <<<-----------*/

.chrome{}