@import "var";

/* ---------->>> FORMS <<<-----------*/

/*field style*/
.field{
    width: $field-width;
    max-width: 100%;
    height: $field-height;
    @include box-sizing(border-box);
    padding: $field-padding;

    background: $field-background;
    // border
    @if $field-border {
        border: $field-border-width $field-border-style $field-border-color;
    }
    @else{
        border: none;
    }
    // border-radius
    @if $field-radius{
        border-radius: $field-radius;
    }

    font:{
        family: $field-font-family;
        size: $field-font-size;
    }
    color: $field-color;

    // &:focus{
    //     @include field-focus;
    // }
    // &.error{
    //     border-color: #ef5b5b;
    //     background-color: #ffebeb;
    //     color: #ef5b5b;
    // }
    // &.valid{
    //     border-color: #04ab5e;
    //     background-color: #d9fdd6;
    //     color: #04ab5e;
    // }
}
@each $prefix-placeholder in $prefix-placeholders {
    .field#{$prefix-placeholder} {
        color: $field-placeholder;
        @if "#{$prefix-placeholder}" == ":-moz-placeholder" or "#{$prefix-placeholder}" == "::-moz-placeholder"{
            opacity: 1;
        }
    }
}
select.field{
    padding-right: 0;

    &,
    &:active,
    &:focus {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-focus-ring-color: rgba(0, 0, 0, 0);
        outline: none;
    }
}
textarea.field{
    min-height: 60px;
}

/*end field style*/

/*buttons style*/

.button{
    // height
    @if $button-height {
        height: $button-height;
    }
    @else{
        border: $field-height;
    }
    // width
    @if $button-width {
        width: $button-width;
    }
    @else{
        padding: $button-padding;
    }

    // border
    @if $button-border {
        border: $button-border-width $button-border-style $button-border-color;
    }
    @else{
        border: none;
    }
    // border-radius
    @if $button-radius{
        border-radius: $button-radius;
    }

    // background
    @if $button-background {
        @include button-background;
    }
    @else{
        @include background(linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,.2)));
    }

    line-height: normal;
    //text-shadow
    @if $button-text-shadow {
        text-shadow: $button-text-shadow;
    }
    color: $button-color;
    font:{
        family: $button-font-family;
        size: $button-font-size;
    }

    &:hover{
        @if $button-background {
            @include button-background-hover;
        }
        @else{
            @include background(linear-gradient(top, rgba(255,255,255,.3), rgba(0,0,0,.3)));
        }

        @if $button-hover-color{
            color: $button-hover-color;
        }
    }
}
a.button,
span.button{
    text-align: center;
    line-height: $field-height;
    &,
    &:hover{
        text-decoration: none;
    }
}
/*end buttons style*/