@import "var";

// /* ---------->>> PAGES <<<-----------*/

// .home{
//     .header{}
//     .content{}
//     .main-section{}
//     .footer{}
// }

// /* ---------->>> MEDIA QUERIES <<<-----------*/

// /* Large Desktops */
// @media only screen and (min-width: $HD) {}

// /* Desktops & tablets landscape */
// @media only screen and (min-width: $XGA-landscape + 1) and (max-width: $HD) {}

// /* Tablets portrait */
// @media only screen and (min-width: $XGA-portrait + 1) and (max-width: $XGA-landscape) {}

// /* Phones landscape */
// @media only screen and (min-width: $QVGA + 1) and (max-width: $XGA-portrait) {}

// /* Tablet Portrait size*/
// @media only screen and (max-width: $QVGA) {}
