@import "var";

/* ---------->>> FONTS <<<-----------*/



/* ---------->>> STANDARD STYLE <<<-----------*/

a,
.link{
    color: $base-link-color;
    text-decoration: underline;
    &:visited{
        color: $base-link-color;
        text-decoration: underline;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: underline;
    }
}

/* ---------->>> GLOBAL <<<-----------*/

html {
    min-width: $standard; // No mobile!!!
    >body .container-wrap{
        height: auto;
        min-height: 100%;
    }
}

body{
    background: {
        color: #fff;
        // image: url(../images/bg.jpg);
        // repeat: no-repeat;
        // position: top center;
    };
    color: $base-font-color;
    line-height: 1;
    font:{
        family: $base-font-family;
    }
    @include adjust-font-size-to(14px);
}

.container{
    margin: auto;
    width: $standard;
    // min-width: $min-width;
    // max-width: $standard;
}
.container-wrap{
    position: relative;
    // overflow-x: hidden;
}

.loading{
    background: {
        color: #fff;
        image: url(../images/required/loading.gif);
        repeat: no-repeat;
        position: center;
    }
}

/* ---------->>> TEXT PAGE STYLE <<<-----------*/

$paragraf-margin: 10px 0;

.text{
    line-height: normal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: $paragraf-margin;
    }
    h1{}
    h2{}
    h3{}
    ul{
        list-style: disc;
        margin: $paragraf-margin;
        li{}
    }
    ol{
        list-style: decimal;
        margin: $paragraf-margin;
        li{}
    }
    li{
        margin-left: 30px;
    }
    p{
        margin: $paragraf-margin;
    }
    table,
    td{
        border: 1px solid #ccc;
    }
    table{
        margin: $paragraf-margin;
    }
    td{
        padding: 5px;
    }
    hr{
        border-top: 1px solid #ddd;
        clear: both;
        margin: $paragraf-margin;
    }
    blockquote{
        border-left: 2px solid #000;
        margin: 16px 28px 10px 16px;
        padding-left: 16px;
    }
    img{
        max-width: 100%;
    }
}

/* ---------->>> IMAGES <<<-----------*/

$align-img-side: 16px;
$align-img-bottom: 10px;

img.aligncenter{
    display: block;
    margin: 0 auto 2px;
}
img.alignright{
    margin: 0 0 $align-img-bottom $align-img-side;
    float: right;
}
img.alignleft{
    margin: 0 $align-img-side $align-img-bottom 0;
    float: left;
}
