@import "var";

// /* ---------->>> FONTS <<<-----------*/



/* ---------->>> STANDARD STYLE <<<-----------*/

a,
.link{
    color: $baseLinkColor;
    text-decoration: underline;
    // &:visited{
    //     color: $base-link-color;
    //     text-decoration: underline;
    // }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: underline;
    }
}

/* ---------->>> GLOBAL <<<-----------*/

html {
    min-width: $standard;
    >body .container-wrap{
        height: auto;
        min-height: 100%;
    }
}

body{
    background-color: #FFF;
    color: $baseFontColor;
    font: $baseFontSize/1 $baseFontFamily;
}

.container{
    margin: auto;
    width: $standard;
    // max-width: $Max;
    // min-width: $Min;
}
.container-wrap{
    position: relative;
    overflow-x: hidden;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
}

.loading{
    background: #fff url(../images/required/loading.gif) no-repeat center;
}

/* ---------->>> TEXT PAGE STYLE <<<-----------*/

$paragrafMargin: 10px 0;
.text{
    line-height: normal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: $paragrafMargin;
    }
    h1{}
    h2{}
    h3{}
    ul{
        list-style: disc;
        margin: $paragrafMargin;
        li{}
    }
    ol{
        list-style: decimal;
        margin: $paragrafMargin;
        li{}
    }
    li{
        margin-left: 30px;
    }
    p{
        margin: $paragrafMargin;
    }
    table,
    td,
    th{
        border: 1px solid #ccc;
    }
    table{
        margin: $paragrafMargin;
    }
    td,
    th{
        padding: 5px;
    }
    hr{
        border-top: 1px solid #ddd;
        clear: both;
        margin: $paragrafMargin;
    }
    blockquote{
        border-left: 2px solid #333;
        margin: 16px 28px 10px 16px;
        padding-left: 16px;
    }
    img,
    embed,
    object,
    video{
        max-width: 100%;
    }
}

/* ---------->>> IMAGES <<<-----------*/

$align-img-side: 16px;
$align-img-bottom: 10px;

.aligncenter{
    display: block;
    margin: 0 auto 2px;
}
.alignright{
    margin: 0 0 $align-img-bottom $align-img-side;
    float: right;
}
.alignleft{
    margin: 0 $align-img-side $align-img-bottom 0;
    float: left;
}
