@import "var";

// /* ---------->>> FONTS <<<-----------*/



/* ---------->>> STANDARD STYLE <<<-----------*/

a,
.link{
    color: $base-link-color;
    text-decoration: underline;
    @if $link-visited{
        &:visited{
            color: $base-link-color;
            text-decoration: underline;
        }
    }
    &:hover{
        text-decoration: none;
    }
    @if $link-active {
        &:active{
            text-decoration: underline;
        }
    }
}

/* ---------->>> GLOBAL <<<-----------*/

html {
    @if not $RWD {
        min-width: $standard;
    }
    @if $bottom-footer {
        >body .container-wrap{
            height: auto;
            min-height: 100%;
        }
    }
}

body{
    background: {
        color: #fff;
        // image: url(../images/bg/bg.jpg);
        // repeat: no-repeat;
        // position: top center;
        // size: cover;
    }
    color: $base-font-color;
    line-height: 1;
    font:{
        family: $base-font-family;
        size: $base-font-size;
    }
}

.container{
    margin: auto;
    @if $RWD {
        max-width: $Max;
        min-width: $Min;
    }
    @else {
        width: $standard;
    }
}
.container-wrap{
    position: relative;
    overflow-x: hidden;
}

@if $bottom-footer{
    .content{
        padding-bottom: $footer-height;
    }
    .footer{
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
    }
}

@if $loading{
    .loading{
        background: {
            color: #fff;
            image: url(../images/required/loading.gif);
            repeat: no-repeat;
            position: center;
        }
    }
}

/* ---------->>> TEXT PAGE STYLE <<<-----------*/

@if $text{
    $paragraf-margin: 10px 0;

    .text{
        line-height: normal;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            margin: $paragraf-margin;
        }
        h1{}
        h2{}
        h3{}
        ul{
            list-style: disc;
            margin: $paragraf-margin;
            li{}
        }
        ol{
            list-style: decimal;
            margin: $paragraf-margin;
            li{}
        }
        li{
            margin-left: 30px;
        }
        p{
            margin: $paragraf-margin;
        }
        table,
        td,
        th{
            border: 1px solid #ccc;
        }
        table{
            margin: $paragraf-margin;
        }
        td,
        th{
            padding: 5px;
        }
        hr{
            border-top: 1px solid #ddd;
            clear: both;
            margin: $paragraf-margin;
        }
        blockquote{
            border-left: 2px solid #333;
            margin: 16px 28px 10px 16px;
            padding-left: 16px;
        }
        img,
        embed,
        object,
        video{
            max-width: 100%;
        }
    }

    /* ---------->>> IMAGES <<<-----------*/

    $align-img-side: 16px;
    $align-img-bottom: 10px;

    img.aligncenter{
        display: block;
        margin: 0 auto 2px;
    }
    img.alignright{
        margin: 0 0 $align-img-bottom $align-img-side;
        float: right;
    }
    img.alignleft{
        margin: 0 $align-img-side $align-img-bottom 0;
        float: left;
    }
}