@import "var";

/* ---------->>> HEADER <<<-----------*/

.header{}

/* ---------->>> CONTENT <<<-----------*/

.content{
    padding-bottom: $footerHeight;
}

.main-section{}

/* ---------->>> FOOTER <<<-----------*/

.footer{
    @include box-sizing(border-box);
    height: $footerHeight;
    overflow: hidden;

    background-color: #000;
}

// /* ---------->>> POPUPS <<<-----------*/

// /* ---------->>> OTHER STYLES <<<-----------*/


