@import "var";

/* ---------->>> HEADER <<<-----------*/

.header{}

/* ---------->>> CONTENT <<<-----------*/

.content{
    padding-bottom: $footer-height;
}
.main-section{}

/* ---------->>> FOOTER <<<-----------*/

.footer{
    position: absolute;
    bottom: 0;
    left: 0;

    height: $footer-height;
    width: 100%;
}

// /* ---------->>> POPUPS <<<-----------*/

// /* ---------->>> OTHER STYLES <<<-----------*/


