@import "compass/css3";
@import "compass/typography/vertical_rhythm";

@mixin rwd-width($el-width, $parent-width: $standard) {
    width: $el-width * 100% / $parent-width;
}

@mixin adjust-font-size-to($to-size, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) {
    @if not $relative-font-sizing and $from-size != $base-font-size {
        @warn "$relative-font-sizing is false but a relative font size was passed to adjust-font-size-to";
    }
    font-size: $font-unit * $to-size / $from-size;
}

$experimental-support-for-svg: true;

// Brief

$base-font-family: Arial, Helvetica, sans-serif;
// $base-font-size: 16px;
$base-font-color: #444;
$base-link-color: #287fc3;

// Breakpoints

// $Xlarge: 1200px;
$Large: 960px;
// $Medium: 768px;
// $Small: 480px;
// $Mini: 240px;

// Settings

$standard: $Large;
$footer-height: 100px;
$field-height: 30px;